.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    min-height: 100%;
}
.appContainer {
    height: 100%;
    overflow: hidden;
}
.header {
    font-family: 'Roboto', sans-serif;
    height: 10%;
    margin: 5%;
    background-color: gray;
    padding: 4% 0% 0% 0%;
    font-size: 50px;
}
label {
    padding: 1%;
    line-height: 2;
    font-weight: 700;
    width: 47%;
    display: inline-block;
    font-size: 35px;

}
.labelWrapper {
    width: 20%;
    display: inline-block;
    padding-bottom: 35px;
    margin: 1%;
}
.resistorImg {
    width: 400px;
    height: 200px;
    border: 10px solid black;
    margin: auto;
    border-radius: 5%;
    position: relative;
}
.hex {
    width: 7%;
    border-style: solid;
    height: 100%;
    margin: -2% 6% 0% 5%;
    float: left;
}
select {
    width: 50%;
}
.wrapper {
    margin: 3%;
    padding: 3% 0%;
    background: white;
    border-style: ridge
}
